@use "base/base.scss";

.button {
    width: 21rem;
    height: 4rem;
    border-radius: 33px;
    background: var(--main-green-color);
    border: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    transition: all .3s;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    &:visited {
        color: black;
    }

    @include base.respond(tab-land) {
        width: 19rem;
    }

    @include base.respond(tab-port) {
        width: 16rem;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    &-big {
        width: 22rem;
        height: 6rem;
    }

    &-center-tablet {
        @include base.respond(tab-port) {
            display: flex;
            margin: 0 auto;
            width: 40rem;
            height: 10rem;
            font-size: 2.5rem;
        }
    }

    &-center-phone {
        @include base.respond(big-phone) {
            display: flex;
            margin: 0 auto;
            width: 40rem;
            height: 10rem;
            font-size: 2rem;
        }
    }

    &-catalog {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 20rem;
        height: 5.5rem;
        background: var(--main-color);
        color: #fff;
        box-shadow: 0 4px 4px 0 var(--box-shadow);

        &:hover {
            background: var(--main-green-color);
        }

    }
}