@use "base/base.scss";

.footer {
    min-height: 36rem;
    background: var(--main-color);
    padding: 0 1rem;

    .container {
        max-width: 120rem;
        margin: 0 auto;

        hr {
            margin-top: 6rem;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        padding-top: 3rem;

        @include base.respond(tab-port) {
            // flex-direction: column;
            // align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 7rem;
        }

        @include base.respond(phone) {
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }
    }



    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        background: var(--card-color);
        width: 20rem;
        height: 10rem;
        border-radius: 10px;
        padding: 1.5rem 1.2rem;
        // margin-right: 14rem;

        @include base.respond(big-phone) {
            display: none;
        }

        img {
            width: 7rem;
            height: 7rem;
        }

        .logo_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .logo_title {
            letter-spacing: 1.75px;
            font-weight: 800;
            font-size: 2.5rem;
            color: var(--main-green-color)
        }

        .logo_subtitle {
            font-weight: 800;
            font-size: 2.5rem;
        }
    }

    &__nav {
        h5 {
            color: var(--text-color-white);
            position: relative;
            font-size: 2rem;
            font-weight: 700;

            @include base.respond(phone) {
                font-size: 3rem;
            }

            &::after {
                content: "";
                position: absolute;
                width: 7rem;
                height: 3px;
                left: 0;
                bottom: -5px;
                background-color: var(--main-green-color);

                @include base.respond(phone) {
                    width: 100%;
                }
            }
        }
    }

    &__list {
        margin-top: 1.5rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.9rem;

        @include base.respond(phone) {
            margin-top: 2rem;
            align-items: center;
        }

        &_item {
            color: var(--text-color-white);
            text-decoration: none;
            font-size: 1.7rem;

            @include base.respond(phone) {
                font-size: 2rem;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__contacts {
        h5 {
            color: var(--text-color-white);
            position: relative;
            font-size: 2rem;
            font-weight: 700;

            @include base.respond(phone) {
                font-size: 3rem;
            }

            &::after {
                content: "";
                position: absolute;
                width: 7rem;
                height: 3px;
                left: 0;
                bottom: -5px;
                background-color: var(--main-green-color);

                @include base.respond(phone) {
                    width: 100%;
                }
            }
        }

    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: 1.9rem;
        margin-top: 1.7rem;

        @include base.respond(phone) {
            align-items: center;
            margin-top: 2rem;
        }

        &_item {
            position: relative;
            display: flex;
            align-items: start;

            @include base.respond(phone) {
                font-size: 2rem;
            }

            img {
                position: absolute;
                top: -2px;
            }

            a {
                margin-left: 3rem;
                text-decoration: none;
                color: var(--text-color-white);

                @include base.respond(tab-port) {
                    margin-left: 5rem;
                }

            }
        }
    }

    &__news {
        width: 31rem;

        @include base.respond(phone) {
            align-items: center;
            margin-top: 2rem;
            width: 90%;
        }

        h5 {
            color: var(--text-color-white);
            position: relative;
            font-size: 2rem;
            font-weight: 700;

            @include base.respond(phone) {
                font-size: 3rem;
                text-align: center;
            }

            &::after {
                content: "";
                position: absolute;
                width: 7rem;
                height: 3px;
                left: 0;
                bottom: -5px;
                background-color: var(--main-green-color);

                @include base.respond(phone) {
                    width: 100%;
                    // left: 34px;
                }
            }
        }

        p {
            font-size: 1.4rem;
            font-weight: 500;
            margin-top: 1.7rem;
            color: var(--text-color-white);

            @include base.respond(phone) {
                margin-top: 3rem;
                font-size: 2rem;
                text-align: center;
            }
        }

    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 2.1rem;
        transition: all 1s;

        p {
            margin-top: .5rem;
            margin-bottom: 1.5rem;
            display: none;
        }

        input {
            font-family: Montserrat, sans-serif;
            border-radius: 10px;
            height: 3.1rem;
            border: 1px solid #fff;
            color: #fff;
            background: transparent;
            padding-top: .7rem;
            padding-bottom: .7rem;
            padding-left: 2.5rem;
            margin-bottom: 2.1rem;

            @include base.respond(phone) {
                height: 40px;

                font-size: 2rem;
                text-align: center;
                padding: 2rem 0 2rem;
            }
        }

        input::placeholder {
            color: #fff;
        }

        button {
            width: 100%;

            @include base.respond(phone) {
                height: 40px;
                font-size: 2rem;
                text-align: center;
                padding: 2rem 0 2rem 0;
            }
        }

    }

    &__copyright {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 2.4rem;
        padding-bottom: 2.4rem;
        color: #fff;

        @include base.respond(tab-port) {
            margin-top: 3rem;
            padding-bottom: 3rem;
        }

        @include base.respond(big-phone) {
            margin-top: 5rem;
            padding-bottom: 5rem;
        }

    }

    .arrow-up {
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        position: absolute;
        bottom: 10px;
        right: 5px;

        @include base.respond(big-phone) {
            width: 7rem;
            height: 7rem;
            bottom: 20px;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

}