.header {
    background-color: var(--main-color);
    min-height: 6rem;
    padding: 12px 0;

    @include respond(tab-land) {
        padding: 12px 12px;
    }

    .container {
        max-width: 120rem;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
    }

    &__toggle {
        width: 21rem;
    }

    &__social {
        display: flex;
        align-items: center;

        // @include respond(tab-port) {
        //     display: none;
        // }

        &_item {
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;

            &:first-child {
                padding-left: 0;

            }

            &:first-child::before {
                height: 0%;
            }

            &:last-child {

                @include respond(tab-port) {
                    display: none;
                }
            }

            a {
                text-decoration: none;
                font-size: 1.2rem;
                color: var(--text-color-white);

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        &_item::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background: var(--main-green-color);
        }
    }
}

.subheader {
    min-height: 9rem;
    padding: 1.1rem 0;
    position: relative;

    @include respond(tab-land) {
        padding: 12px 12px;
    }

    &-dark {
        background: rgba(18, 18, 18, .85);
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 120rem;
        align-items: center;

    }

    &__menu-wrapper {
        display: flex;

        @include respond(tab-port) {
            display: none;
            margin-top: 1rem;
            flex-direction: column;
            background-color: var(--bg-color);
            padding: 2rem;
            text-align: center;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
            z-index: 10;
            border-radius: 8px;
            /* Красивая форма */
            transition: all 0.3s ease;

            &.active {
                display: flex;
                /* Показываем меню */
            }
        }
    }

    .hamburger {
        display: none;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 30px;
            height: 30px;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 15;

            span {
                display: block;
                width: 100%;
                height: 3px;
                background-color: var(--text-color);
                transition: all 0.3s ease;
            }

            /* Анимация гамбургера */
            &.active span:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &.active span:nth-child(2) {
                opacity: 0;
            }

            &.active span:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }

        }
    }

    &__logo {
        display: flex;
        gap: 10px;

        .logo_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--text-color);
        }

        .logo_title {
            letter-spacing: 1.75px;
            font-weight: 800;
            font-size: 2.5rem;
            color: var(--main-green-color)
        }

        .logo_subtitle {
            font-weight: 800;
            font-size: 2.5rem;
        }
    }

    &__menu {
        display: flex;
        list-style: none;
        gap: 7rem;
        font-size: 1.7rem;
        font-weight: 700;

        &_link {
            display: block;
            position: relative;
            text-decoration: none;
            color: var(--text-color);
            transition: .2s all;
            padding: 5px 0;

            @include respond(tab-port) {
                // display: none;
            }

            &:hover {
                color: var(--main-green-color);
                transform: scale(1.1);
            }

            &-active {
                color: var(--main-green-color);
                font-style: italic;
                transform: scale(1.1);

                &::after {
                    bottom: 0;
                    content: "";
                    /* Обязательно для псевдоэлементов */
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--text-color);
                }

                &::before {
                    top: 0;
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--text-color);
                }
            }
        }
    }

    &__login-wrapper {
        width: 17rem;
        display: flex;
        gap: 3rem;
        justify-content: flex-end;

        button {
            border: none;
            background: transparent;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}