@use "base/base.scss";

.hero {
    width: 100%;
    min-height: 60rem;
    background: url('../img/backgrounds/main-section-light.jpg') center center / cover no-repeat;

    @include base.respond(tab-port) {
        min-height: 70rem;
    }

    @include base.respond(big-phone) {
        min-height: 80vh;
    }


    &-dark {
        background: url('../img/backgrounds/main-section-dark.jpg') center center / cover no-repeat;
    }

    .container {
        max-width: 120rem;
        margin: 0 auto;
        padding-top: 17rem;
        padding-left: 13rem;

        @include base.respond(big-phone) {
            padding-left: 6rem;
            padding-right: 6rem;
        }
    }

    &__text {
        width: 65%;

        @include base.respond(big-phone) {
            width: 100%;
        }

        &_title {
            font-size: 4rem;
            margin-bottom: 3rem;
            color: var(--text-color-white);
            font-weight: 300;

            @include base.respond(big-phone) {
                text-align: center;
            }
        }

        &_descr {
            font-size: 2rem;
            font-weight: 400;
            color: var(--text-color-white);
            letter-spacing: 1.2px;
            margin-bottom: 3rem;

            @include base.respond(big-phone) {
                text-align: center;
            }
        }

    }
}