@use "base/base.scss";

/* Модальное окно */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    position: relative;
    background-color: var(--card-color);
    padding: 4rem;
    border-radius: 8px;
    max-width: 50rem;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    form {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 1.5rem;

        input {
            padding: 1rem;
            border-radius: 10px;
            border: 1px solid black;
            font-family: Montserrat, sans-serif;
        }

        button {
            background: var(--main-green-color);
            border: none;
            border-radius: 10px;
            padding: 10px;
            font-family: Montserrat, sans-serif;
            font-size: 1.6rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Показать модальное окно */
.modal.show {
    visibility: visible;
    opacity: 1;
}

.hidden {
    display: none;
}

#register-link {
    color: var(--text-color)
}

/* Модальное окно */
.modal-catalog {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    /* Фиксируем окно относительно окна браузера */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* Затемненный фон */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Устанавливаем высокий z-index, чтобы окно было поверх других элементов */
    overflow: auto;
    /* Разрешаем прокрутку, если содержимое слишком велико */
}

.modal-catalog-content {
    background-color: var(--card-color);
    width: 80vw;
    /* Ширина модального окна - 80% от экрана */
    height: 80vh;
    /* Высота модального окна - 80% от экрана */
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scrollbar-width: thin;
    /* Тонкий скроллбар */
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.2);
    /* Цветы ползунка и трека */
    overflow-y: auto;
    /* Включение вертикального скроллинга */
    scrollbar-gutter: stable;
    /* Стабильное отображение области для скроллбара */


    /* Для WebKit-браузеров */
    .modal-catalog-content::-webkit-scrollbar {
        width: 8px;
        /* Ширина вертикального скроллбара */
        height: 8px;
        /* Высота горизонтального скроллбара */
    }

    .modal-catalog-content::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
        /* Фон трека */
        border-radius: 10px;
        /* Закругление трека */
    }

    .modal-catalog-content::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.6);
        /* Цвет ползунка */
        border-radius: 10px;
        /* Закругление ползунка */
    }

    .modal-catalog-content::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.8);
        /* Цвет ползунка при наведении */
    }


    img {
        margin: 3rem;
        border-radius: 25px;

        @include base.respond(big-screen) {
            height: 600px;
            object-fit: contain;
        }
    }


    h2 {
        letter-spacing: 2px;
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 2rem;
    }

    ul {
        list-style-type: none;

        li {
            margin-top: 1rem;

            ul {
                list-style-type: disc;
                padding-left: 2rem;

                li {
                    margin-top: .5rem;
                }
            }
        }
    }

    a {
        margin-top: 10rem;
        width: 30rem;
        height: 5rem;
        padding: 1.5rem;

        @include base.respond(big-phone) {
            width: 100%;
        }
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
}