@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --main-color: #42426A;
    --main-green-color: #8FC555;
    --text-color: #000;
    --text-color-white: #fff;
    --card-color: #fff;
    --card-icon-inner: rgba(143, 197, 85, .3);
    --background-color: #fff;
    --service-icon-inner: #fff;
    --box-shadow: rgba(0, 0, 0, .2);
}

[data-theme="dark"] {
    --main-color: #121212;
    --main-green-color: #0288D1;
    --text-color: #fff;
    --card-color: #373737;
    --card-icon-inner: rgba(24, 24, 24, .8);
    --background-color: #121212;
    --service-icon-inner: #686868;
    --box-shadow: rgba(209, 209, 209, .25);

}

@mixin respond($breakpoint) {
    @if $breakpoint ==phone {
        @media only screen and (max-width: 400px) {
            @content;
        }
    }

    @if $breakpoint ==big-phone {
        @media only screen and (max-width: 550px) {
            @content;
        }
    }

    @else if $breakpoint ==tab-port {
        @media only screen and (max-width: 830px) {
            @content;
        }
    }

    @else if $breakpoint ==tab-land {
        @media only screen and (max-width: 1200px) {
            @content;
        }
    }

    @else if $breakpoint ==big-screen {
        @media only screen and (min-width: 1800px) {
            @content;
        }
    }
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(tab-land) {
        font-size: 50%;
    }

    @include respond(tab-port) {
        font-size: 45%;
    }

    @include respond(phone) {
        font-size: 40%;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
}